################################################################################
#
# Copyright (C) 2020 Neighborhood Guard, Inc.  All rights reserved.
# Original author: Douglas Kerr
# 
# This file is part of FTP_Upload.
# 
# FTP_Upload is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# FTP_Upload is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
# 
# You should have received a copy of the GNU Affero General Public License
# along with FTP_Upload.  If not, see <http://www.gnu.org/licenses/>.
#
################################################################################

# this should work whether the system is using netplan
# or one of the older network configuration systems

[Unit]
Description=Add a link-local route to the routing table
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/opt/addllroute
ExecStart=/opt/addllroute/addllroute
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
